<template>
    <div class="container" v-if="item">
        <h5 :debet="`${item.debet}`">Финансовая транзакция: {{item.debet ? 'Поступление' : 'Расход'}}</h5>
        <div>
            <p>{{item.debet ? '+' : '-'}} {{item.value}} {{item.currency}}</p>
            <p>{{item.from}}</p>
            <p>{{item.comment}}</p>
            <!-- <small>{{item.date|date: 'dd-MM-yyyy'}}</small> -->
            <small>{{item.date}}</small>
            <p>{{item.comment}}</p>
            <button v-if="!$route.params.viewItem" @click="openPost(item)">Подробно</button>
            <button v-if="$route.params.viewItem" @click="deletePost(item)">Удалить</button>
        </div>
    </div>
</template>

<script>
import BasePostMixin from '../_base/_mixin';

export default {
    mixins: [BasePostMixin]
}
</script>
