<template>
  <div id="app">
    <h2>Таймлайн событий</h2>
    <c-post-base v-if="posts && posts.length" :posts="posts"/>
  </div>
</template>

<script>

export default {
    name: 'app',
    data () {
        return {
            posts: []
        }
    },
    created() {
        System.import('./data.json').then( posts => {
            this.$set(this, 'posts', posts);
        })
    }
}
</script>