<template>
  <div>
    <div v-if="!error && items && items.length">
      <div v-for="(post, index) in items" :key="index">
        <template v-if="post && !post.deleted">
          <c-post-news :post="post" v-if="post.type == 'news'"/>
          <c-post-finance :post="post" v-else-if="post.type == 'finance'" @deletePost="deleteItem(index)"/>
        </template>
      </div>
    </div>
    <div v-if="error">{{error}}</div>
  </div>
</template>

<script>

/*
* принимает массив постов либо один пост,
* один пост - передать в массиве из одного поста
*/
export default {
  props: {
    posts: {
      type: Array,
      default() { return []; }
    }
  },
  name: 'base-post',
  data () {
    return {
      items: [],
      error: ''
    }
  },
  watch: {
    posts:{
      handler(posts) {
        this.$set(this, 'items', posts);
      },
      immediate: true
    }
  },
  methods: {
    deleteItem(index) {
      // this.posts.splice(index, 1);
      this.$router.push({name: 'HomePage'});
    }
  },
  created() {
    if ((!this.posts || !this.posts.length) && this.$route.params.id) {
      System.import('@/pages/data.json').then(data => {
        let post = _.find(data, (item) => {
          if (item.id == this.$route.params.id) {
            return item;
          }
        });
        if (post) {
          this.$set(this, 'items', [post]);
        } else {
          this.error = 'Запись не найдена';
        }
      });
    }
  }
}
</script>

<style lang="scss">
  @import './styles.scss';
</style>