.container {
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px;
    h5 {
        &[debet=true] {
            background-color: #6eff6e;
        }
        &[debet=false] {
            background-color: #ff7979;
        }
    }
    &.checked {
        font-style: italic;
        color: #888;
    }
}