<template>
    <div :class="`container ${checked ? 'checked' : ''}`" v-if="item">
        <h5>Новость: {{item.title}}</h5>
        <div>
            <p>{{item.text}}</p>
            <!-- <small>{{item.date|date: 'dd-MM-yyyy'}}</small> -->
            <small>{{item.date}}</small>
            <button v-if="!viewItem" @click="openPost(item)">Подробно</button>
            <button v-if="viewItem && !checked" @click="checkPost(item)">Ознакомлен</button>
        </div>
    </div>
</template>

<script>
import BasePostMixin from '../_base/_mixin';

export default {
    mixins: [BasePostMixin],
    computed: {
        checked() {
            return this.item && this.item.checked;
        }
    },
    methods: {
        checkPost() {
            this.$set(this.item, 'checked', true);
        }
    }
}
</script>
